{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<div class="page-container">
    <div class="entry-content">
        <div class="post-meta pure-g">
            {% if article.category|string in MEDIUS_CATEGORIES %}
            <div class="pure-u">
                <a href="{{ SITEURL }}/{{ article.category.url }}"><img src="{{ MEDIUS_CATEGORIES.get(article.category|string).thumbnail }} " class="post-avatar" alt="{{ article.category|striptags }}"></a>
            </div>
            {% endif %}

            {% include "includes/post_metadata.html" %}
        </div>
    </div>

    <div class="article-header-container">
        <div class="background-image-container">

            {# title with big background image #}
            {% if article.cover %}
            <div class="background-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({{ article.cover }});">
                <img src="{{ article.cover }}" alt="{{ article.title|striptags }}">
                <div class="title">
                <h1>
                    {{ article.title }}
                </h1>
                {% if article.subtitle %}
                <h2>
                    {{ article.subtitle }}
                </h2>
                {% endif %}
                </div>
            </div>
            {% else %}
            <div class="background-image-small">
                {% if article.thumbnail %}
                <img src="{{ article.thumbnail }}" alt="{{ article.title|striptags }}">
                {% endif %}
                <div class="title-container">
                    <h1>{{ article.title }}</h1>
                    {% if article.subtitle %}
                    <h4>{{ article.subtitle }}</h4>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="entry-content">
        {{ article.content }}
    </div>

    <footer>
        {% if article.tags %}
        <div class="tags">
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </footer>

    {% if DISQUS_SITENAME %}
    <div class="entry-content">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{ DISQUS_SITENAME }}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
    {% endif %}

</div>

{% endblock %}
